{% extends './base.html' %}

{% block title %} Cursos {% endblock %}

{% block body %}
    <h1 class="font-lg flex justify-center text-xl font-bold p-5">Cursos</h1>
    
    <section class="grid grid-cols-1 md:grid-cols-3 gap-6 m-3">
        
        {% for curso in cursos %}
            {% if curso.activo %}
                <article class="border border-zinc-400 shadow-lg rounded-lg bg-white">
                    <div class="p-5">
                        <h5 class="font-semibold flex justify-center bg-zinc-200 p-2 rounded-md"> {{ curso.nombre }} </h5>
                        <br>
                        <p>Duracion: {{ curso.duracion }} semanas</p>
                        <br>
                        <p>Precio: {{curso.precio}}</p>
                        <br>
                        <p>Nivel: {{curso.nivel}}</p>
                        <br>
                        <p>Modalidad: {{curso.modalidad}}</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <a href="#" class="w-fit px-20 py-2 mb-5 bg-orange-500 text-white rounded rounded-3xl shadow-md border border-orange-600">Comprar ahora</a>
                    </div>
                    <div class="flex justify-center gap-3 p-3">
                        <a href="{% url 'editarCurso' curso.id %}" class="w-fit px-10 py-2 mb-5 bg-orange-500 text-white rounded rounded-3xl shadow-md border border-orange-600">Editar</a>
                        <a href="{% url 'borrarCurso' curso.id %}" class="w-fit px-10 py-2 mb-5 bg-orange-500 text-white rounded rounded-3xl shadow-md border border-orange-600">Borrar</a>
                    </div>
                    
                </article>
            {% else %}
                <article class="bg-zinc-400 border rounded-lg">
                    <div class="p-5">
                        <h5 class="font-semibold flex justify-center p-2"> {{ curso.nombre }} </h5>
                        <br>
                        <p>Duracion: {{ curso.duracion }} semanas</p>
                        <br>
                        <p>Precio: {{curso.precio}}</p>
                        <br>
                        <p>Nivel: {{curso.nivel}}</p>
                        <br>
                        <p>Modalidad: {{curso.modalidad}}</p>
                    </div>
                    <div class="flex flex-col items-center">
                        <a href="#" class="w-fit px-20 py-2 mb-5 bg-zinc-800 text-white rounded rounded-3xl shadow-md border border-zinc-900">Sin cupos disponibles</a>
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    
    </section>
    
    <ul>
        
            
        
    </ul>
{% endblock %}